In [2]:
student_name = "Ram"
roll_no = 15
marks_math = 9.5

9.5

In [4]:
# single line comment

#= can contain multiline comment =#


#= This is an example to demonstrate the multi-line comments that tells us about tutorialspoint.com. 
At this website you can browse the best resource for Online Education.=#

In [5]:
#= An Array is an ordered set of elements which are often specified with squared brackets having comma-separated 
items. We can create arrays that are − 
1. Full or empty
2. Hold various types of data
3. Restricted to values of specific type =#

In [6]:
arr = [1,2,3]

3-element Array{Int64,1}:
 1
 2
 3

In [7]:
arr = [1,2,3, 'a', 'b']

5-element Array{Any,1}:
 1
 2
 3
  'a': ASCII/Unicode U+0061 (category Ll: Letter, lowercase)
  'b': ASCII/Unicode U+0062 (category Ll: Letter, lowercase)

In [8]:
array = Array{Int64}(undef, 3)

3-element Array{Int64,1}:
 139827854857840
 139827852652896
 139827852652896

In [9]:
array = Array{Int64}(undef, 3, 3, 3)

3×3×3 Array{Int64,3}:
[:, :, 1] =
  8  139827773672128  139827808898912
  3  139827768466896  139827802217184
 32  139827783722544                1

[:, :, 2] =
 139827235989392                3  139827796031216
               1  139827793547024  139827796031152
              -1  139827793546928                2

[:, :, 3] =
               1                0  139827783722864
 139827854094656  139827793547120  139827775807520
 139827793547216  139827783722784  139826972131329

In [10]:
A = Int64[]

Int64[]

In [11]:
A = String[]

String[]

In [12]:
[1 2 3 4 5 6 7 8 9 10]

1×10 Array{Int64,2}:
 1  2  3  4  5  6  7  8  9  10

In [15]:
[1 2 3 4 5 ; 6 7 8 9 10;]

2×5 Array{Int64,2}:
 1  2  3  4   5
 6  7  8  9  10

#### Collect() function

First useful function to create an array using range objects is collect(). With the help of colon(:) and collect() function, we can create an array using range objects as follows

start:step:stop

In [16]:
collect(1:5)

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [22]:
collect(:12)

0-dimensional Array{Int64,0}:
12

In [23]:
collect(1.5:5.5)

5-element Array{Float64,1}:
 1.5
 2.5
 3.5
 4.5
 5.5

#### ellipsis(…) or splat operator

Instead of using collect() function, we can also use splat operator or ellipsis(…) after the last element.

In [24]:
[0:10...]

11-element Array{Int64,1}:
  0
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

#### range() function

Range() is another useful function to create an array with range objects. It goes from start value to end value by taking a specific step value.

In [25]:
range(1, length=15, stop=150)

1.0:10.642857142857142:150.0

In [26]:
range(1, stop=150, step=10)

1:10:141

In [27]:
collect(range(1, length=15, stop=150))

15-element Array{Float64,1}:
   1.0
  11.642857142857142
  22.285714285714285
  32.92857142857143
  43.57142857142857
  54.214285714285715
  64.85714285714286
  75.5
  86.14285714285714
  96.78571428571429
 107.42857142857143
 118.07142857142857
 128.71428571428572
 139.35714285714286
 150.0

Another useful way to create an array is to use comprehensions. In this way, we can create array where each element can produce using a small computation. For example, we can create an array of 10 elements as follows

In [28]:
[n^2 for n in 1:10]

10-element Array{Int64,1}:
   1
   4
   9
  16
  25
  36
  49
  64
  81
 100

In [29]:
[n*m for n in 1:10, m in 1:10]

10×10 Array{Int64,2}:
  1   2   3   4   5   6   7   8   9   10
  2   4   6   8  10  12  14  16  18   20
  3   6   9  12  15  18  21  24  27   30
  4   8  12  16  20  24  28  32  36   40
  5  10  15  20  25  30  35  40  45   50
  6  12  18  24  30  36  42  48  54   60
  7  14  21  28  35  42  49  56  63   70
  8  16  24  32  40  48  56  64  72   80
  9  18  27  36  45  54  63  72  81   90
 10  20  30  40  50  60  70  80  90  100

In [30]:
collect(n^2 for n in 1:5)

5-element Array{Int64,1}:
  1
  4
  9
 16
 25

### Populating an Array

Following are the functions with the help of which you can create and fill arrays with specific contents −
#### zeros (m, n)

This function will create matrix of zeros with m number of rows and n number of columns. The example is given below

In [31]:
zeros(4,5)

4×5 Array{Float64,2}:
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0

In [32]:
zeros(Int64,4,5)

4×5 Array{Int64,2}:
 0  0  0  0  0
 0  0  0  0  0
 0  0  0  0  0
 0  0  0  0  0

#### ones (m, n)

This function will create matrix of ones with m number of rows and n number of columns. The example is given below

In [33]:
ones(4,5)

4×5 Array{Float64,2}:
 1.0  1.0  1.0  1.0  1.0
 1.0  1.0  1.0  1.0  1.0
 1.0  1.0  1.0  1.0  1.0
 1.0  1.0  1.0  1.0  1.0

### rand (m, n)

As the name suggests, this function will create matrix of random numbers with m number of rows and n number of columns.

In [36]:
rand(4,5)

4×5 Array{Float64,2}:
 0.829394  0.261408   0.301023  0.986204  0.0465898
 0.177829  0.191439   0.707557  0.50394   0.249452
 0.345841  0.574306   0.100953  0.50094   0.368992
 0.995164  0.0407851  0.431756  0.95588   0.555763

#### randn(m, n)

As the name suggests, this function will create m*n matrix of normally distributed random numbers with mean=0 and standard deviation(SD)=1.

In [37]:
randn(4,5)

4×5 Array{Float64,2}:
  0.658813   -0.755717  -1.43305    0.362785  -1.744
 -2.49828     0.758181  -0.249511  -1.24204    1.27779
  1.00274    -0.210198   2.15374    0.540173   0.652497
  0.0225745  -0.462252  -0.577431  -1.82036   -0.234275

#### fill()

This function is used to fill an array with a specific value. More specifically, it will create an array of repeating duplicate value.

In [38]:
fill(100,5)

5-element Array{Int64,1}:
 100
 100
 100
 100
 100

#### fill!()

It is similar to fill() function but the sign of exclamation (!) is an indication or warning that the content of an existing array is going to be changed. The example is given below:

In [39]:
ABC = ones(5)

5-element Array{Float64,1}:
 1.0
 1.0
 1.0
 1.0
 1.0

In [40]:
fill!(ABC,100)

5-element Array{Float64,1}:
 100.0
 100.0
 100.0
 100.0
 100.0

In [41]:
ABC

5-element Array{Float64,1}:
 100.0
 100.0
 100.0
 100.0
 100.0

### Array Constructor

The function Array(), we have studied earlier, can build array of a specific type as follows −

In [42]:
Array{Int64}(undef, 5)

5-element Array{Int64,1}:
 139827228905136
 139827228905232
 139827228905280
 139827228905328
 139827228905376

#### Arrays of arrays

In [43]:
ABC = Array[[3,4],[5,6]]

2-element Array{Array,1}:
 [3, 4]
 [5, 6]

In [44]:
Array[1:5,6:10]

2-element Array{Array,1}:
 [1, 2, 3, 4, 5]
 [6, 7, 8, 9, 10]

#### Copying arrays

Suppose you have an array and want to create another array with similar dimensions, then you can use similar() function as follows

In [45]:
A = collect(1:5);
# Here we have hide the values with the help of semicolon(;)

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [46]:
B = similar(A)

5-element Array{Int64,1}:
               0
               1
 139827758481408
               2
               1

In [47]:
A = collect(1:5)

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [48]:
B = similar(A)

5-element Array{Int64,1}:
 139827924468704
 139827918789120
 139827918317216
 139827758481648
 139827815961904

### Matrix Operations

As we know that a two-dimensional (2D) array can be used as a matrix so all the functions that are available for working on arrays can also be used as matrices. The condition is that the dimensions and contents should permit. If you want to type a matrix, use spaces to make rows and semicolon(;) to separate the rows as follows

In [49]:
[2 3 ; 4 5]

2×2 Array{Int64,2}:
 2  3
 4  5

In [50]:
Array[[3,4],[5,6]]

2-element Array{Array,1}:
 [3, 4]
 [5, 6]

In [51]:
[[3,4] [5,6]]

2×2 Array{Int64,2}:
 3  5
 4  6

Accessing the contents of arrays

In Julia, to access the contents/particular element of an array, you need to write the name of the array with the element number in square bracket.

In [52]:
arr = [5,10,15,20,25,30,35,40,45,50]

10-element Array{Int64,1}:
  5
 10
 15
 20
 25
 30
 35
 40
 45
 50

In [53]:
arr[1], arr[2]

(5, 10)

In [54]:
arr[0]

LoadError: BoundsError: attempt to access 10-element Array{Int64,1} at index [0]

In [55]:
arr[end]

50

In [56]:
arr[end-1]

45

In [57]:
# To access more than one element at a time, we can also provide a bunch of index numbers as shown below 
arr[[2,5,6]]

3-element Array{Int64,1}:
 10
 25
 30

In [58]:
arr[[true, false, true, true,true, false, false, true, true, false]]

6-element Array{Int64,1}:
  5
 15
 20
 25
 40
 45

In [59]:
arr2 = [10 11 12; 13 14 15; 16 17 18]

3×3 Array{Int64,2}:
 10  11  12
 13  14  15
 16  17  18

In [60]:
arr2[2]

13

In [61]:
arr2[3]

16

In [62]:
arr2[1,2]

11

In [63]:
arr2[1,3]

12

In [64]:
getindex(arr2,1,2)

11

In [65]:
getindex(arr2,2,3)

15

### Adding Elements

We can add elements to an array in Julia at the end, at the front and at the given index using push!(), pushfirst!() and splice!() functions respectively.
#### At the end

We can use push!() function to add an element at the end of an array. For example,

In [66]:
push!(arr,55)

11-element Array{Int64,1}:
  5
 10
 15
 20
 25
 30
 35
 40
 45
 50
 55

Remember we had 10 elements in array arr. Now push!() function added the element 55 at the end of this array.

The exclamation(!) sign represents that the function is going to change the array.

#### At the front

We can use pushfirst!() function to add an element at the front of an array. For example,

In [67]:
pushfirst!(arr,0)

12-element Array{Int64,1}:
  0
  5
 10
 15
 20
 25
 30
 35
 40
 45
 50
 55

In [68]:
arr

12-element Array{Int64,1}:
  0
  5
 10
 15
 20
 25
 30
 35
 40
 45
 50
 55

#### At a given index

We can use splice!() function to add an element into an array at a given index. For example,

### Removing Elements

We can remove elements at last position, first position and at the given index, from an array in Julia, using pop!(), popfirst!() and splice!() functions respectively.
#### Remove the last element

We can use pop!() function to remove the last element of an array. For example,

In [69]:
pop!(arr)

55

In [70]:
arr

11-element Array{Int64,1}:
  0
  5
 10
 15
 20
 25
 30
 35
 40
 45
 50

#### Removing the first element

We can use popfirst!() function to remove the first element of an array. For example,

In [71]:
popfirst!(arr)

0

#### Removing element at given position

We can use splice!() function to remove the element from a given position of an array. For example,

In [73]:
splice!(arr,5)

25